---
---

@import"{{ site.theme }}";

.main-content {
    h1 {
        color: #0000ff;
    }
}

.page-header {
    color:#ffff;
    background-color:#A067AB;
    background-image:linear-gradient(120deg,#0000FF,#00D4FF);
}